<script>
    "use strict";
    app.controller("approveCtrl", [
        "$scope", "$http", "$rootScope", "$state",'$timeout',
        function ($scope, $http, $rootScope, $state,$timeout) {
            $scope.errorInfo = null;
            if($rootScope.myinfo.company){
                $http({
                    method: "GET",
                    url: "/company/getCompanyInfo"
                }).success(function (resResult) {
                    console.log(resResult);
                    $scope.companyInfo = resResult.data;
                    if($scope.companyInfo.licenseType === 'GENERAL'){
                        $scope.flag = 'code';
                        $scope.onlyInt($scope.companyInfo.licenseNumber);
                    }else {
                        $scope.flag = 'number';
                        $scope.string18($scope.companyInfo.licenseNumber);
                    }
                    if(resResult.data.city){
                        $timeout(function () {
                            $("#cityPicker").distpicker('destroy');
                            $("#cityPicker").distpicker({
                                autoSelect: false,
                                placeholder: true
                            });
                            var province = $("#province");
                            province.val(resResult.data.province);
                            province.trigger("change");
                            var city = $("#city");
                            city.val(resResult.data.city);
                            city.trigger("change");
                        }, 0 , false)
                    }
                    if(resResult.data.licensePicURL){
                        $scope.checked =true;
                        $scope.listTip = "文件已上传，请勿反复提交";
                        var textHtml = "<img src='"+resResult.data.licensePicURL+"'width='556px' height='230px'/>";
                        $(".imageCrop").html(textHtml);
                    }
                    const checked = resResult.data.openEditions;
                    console.log(checked);
                    angular.forEach(checked,function (data) {
                        $("input[value ="+ data+"]").attr("checked","checked");
                    });
//                    $("input[value ="+ resResult.data.openWeChatSubscription+"]").attr("checked","checked");
                })
            }else{
                $('#cityPicker').distpicker();
                $scope.companyInfo = {
                    companyName:'',
                    province:'',
                    city:'',
                    address:'',
                    licenseType:'',
                    licenseNumber:'',
                    licensePicURL:'',
                    openEditions:[],
                    openWeChatSubscription:false
                };
            }

            $scope.typeSelect = function () {
                $scope.companyInfo.licenseNumber = "";
                const value = $scope.companyInfo.licenseType;
                if(value === "GENERAL"){
                    $scope.flag = "code";
                }else {
                    $scope.flag = "number";
                }
            };

            $scope.uploadImg = function () {
                $timeout(function () {
                    $("#fileImg").click();
                },0,false)

            };

            $scope.listTip = "请选择上传图片，不得大于5M";
            $scope.checked = false;
            var input = document.getElementById("fileImg");
            input.addEventListener('change',readFile,false);
            function readFile() {
                var fd = new FormData();
                console.log(this.files);
                var file = this.files[0];
                if(file.size > 1024*1024*5){
                    $rootScope.infoBox("上传图片过大，请压缩后再上传");
                    return 0;
                }
                var fileName = file.name.toLowerCase().split('.');
                if(fileName[fileName.length-1]!=='gif'&& fileName[fileName.length-1]!=='jpg'&& fileName[fileName.length-1]!=='bmp'
                    && fileName[fileName.length-1]!=='png'&& fileName[fileName.length-1]!=='jpeg'){
                    $rootScope.infoBox("上传图片格式错误，请重新上传");
                    return 0;
                }
                fd.append("file", file);
                $http({
                    method: "POST",
                    url: "upload/imageUpload",
                    headers: {
                        "Content-Type": undefined
                    },
                    timeout: 0,
                    transformRequest: angular.identity,
                    data: fd
                }).success(function (resResult) {
                    console.log(resResult);
                    var imgRUL = "http://xiaojincom.oss-cn-hangzhou.aliyuncs.com/" + resResult.data.newFileName;
                    $scope.companyInfo.licensePicURL = imgRUL;
                    $scope.checked = true;
                    $scope.listTip = "文件已上传，请勿反复提交";
                    var textHtml = "<img src='"+imgRUL+"'width='450px' height='200px'/>";
                    $(".imageCrop").html(textHtml);
                }).error(function () {
                    $rootScope.infoBox("上传图片失败！");
                });
            }

            $scope.personSubmit = function(){
                $scope.companyInfo.openEditions = [];
                var checked = $("input[name='edition']:checked");
                angular.forEach(checked,function (data) {
                    $scope.companyInfo.openEditions.push(data.value);
                });
//                $scope.companyInfo.openWeChatSubscription = $("input[name='openWeChatSubscription']:checked")[0].value;
                console.log($scope.companyInfo.openEditions);
                if($rootScope.myinfo.company){
                    $scope.link = "/company/updateCompanyInfo";
                }else{
                    $scope.link = "/company/register";
                }
                $http({method: "post", url: $scope.link, data:$scope.companyInfo}).then(function (response) {
                    console.log(response.data);
                    var resResult = response.data;
                    if (resResult.status === 'fail') {
                        $rootScope.infoBox(resResult.message);
                    } else {
                        $rootScope.infoBox("注册成功！");
                        $rootScope.myinfo = resResult.data;
                        $scope.companyInfo = {
                            companyName:'',
                            province:'',
                            city:'',
                            address:'',
                            licenseType:'',
                            licenseNumber:'',
                            licensePicURL:'',
                            openEditions:[]
//                            openWeChatSubscription:false
                        };
                        $http.get("/user/myInfo").success(function(resResult){
                            console.log(resResult);
                            resResult = resResult.data;
                            $rootScope.myinfo=resResult;
                            console.log($rootScope.myinfo);
                        });
                        window.location.href= '/#/welcome';
                    }
                }, function(){

                });
            };

            $scope.personSubmitWrong = function () {
              alert("wrong");
            };
            //普通营业执照校验--开始
            $scope.singleLicense= {
                message: "请输入注册号",
                spanClass: "text-danger",
                iClass: "fa fa-ban"
            };
            $scope.onlyInt =function (number) {
                var reg = /^\d{13}$/;//13位数字
                if (reg.test(number)){
                    $scope.singleLicense = {
                        message: "格式正确",
                        spanClass: "text-success",
                        iClass: "fa fa-check"
                    }
                }else{
                    $scope.singleLicense= {
                        message: "格式错误",
                        spanClass: "text-danger",
                        iClass: "fa fa-ban"
                    }
                }
            };
            //普通营业执照校验--结束
            //多证合一营业执照校验--开始
            $scope.multLicense= {
                message: "请输入营业执照号码",
                spanClass: "text-danger",
                iClass: "fa fa-ban"
            };
            $scope.string18 = function (number) {
                var reg = /^[a-zA-Z0-9_]{18}$/;//18位非汉字
                if(reg.test(number)){
                    $scope.multLicense= {
                        message: "格式正确",
                        spanClass: "text-success",
                        iClass: "fa fa-check"
                    }
                }else {
                    $scope.multLicense= {
                        message: "格式错误",
                        spanClass: "text-danger",
                        iClass: "fa fa-ban"
                    }
                }
            }
            //多证合一营业执照校验--结束
        }
    ]);
</script>


<div class="body_wrap list_page" ng-controller="editionSearchCtrl">
    <div class=" warp_content">
        <div class="hbox hbox-auto-xs bg-white" style="border-radius: 5px;">
            <div class="col" style="width:65%">
                <div class="auth_title_warp" ng-model="editionInfo">
                    <img src="/fengkongweishi/images/Authentication.png" height="30" width="26"/>
                    <div class="auth_title">客户基础信息认证</div>
                </div>
                <div class="vbox">
                    <div class="row-row">
                        <div class="cell">
                            <div class="cell-inner" style="overflow: visible">
                                <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled valid-form" id='personloan_form' style="height: 400px;overflow-y: scroll;overflow-x: hidden">
                                    <div class="valid-form-item">
                                        <!--<div>-->
                                            <!--<span class="text-danger" ng-show="(preData.name.length >4 || preData.name.length <2) && preData.name.length > 0"><i class="fa fa-ban"></i> 姓名为2~4个字</span>-->
                                            <!--&lt;!&ndash;<span class="text-success" ng-show="preData.name.length < 5 && preData.name.length >1"><i class="fa fa-check"></i> 格式正确</span>&ndash;&gt;-->
                                        <!--</div>-->
                                        <!--<div>-->
                                            <!--<span class="text-danger" ng-show="idCardWrongShow"><i class="fa fa-ban"></i> 18位身份证号</span>-->
                                            <!--&lt;!&ndash;<span class="text-success" ng-show="preData.idCard.length == 18"><i class="fa fa-check"></i> 格式正确</span>&ndash;&gt;-->
                                        <!--</div>-->
                                        <!--<div>-->
                                            <!--<span class="text-danger" ng-show="mobileWrongShow"><i class="fa fa-ban"></i> 11位手机号</span>-->
                                            <!--&lt;!&ndash;<span class="text-success" ng-show="preData.mobile.length == 11"><i class="fa fa-check"></i> 11位手机号</span>&ndash;&gt;-->
                                        <!--</div>-->
                                        <!--<div>-->
                                            <!--<span class="text-danger" ng-show="backCardWrongShow"><i class="fa fa-ban"></i> 银行卡号15~19位</span>-->
                                            <!--&lt;!&ndash;<span class="text-success" ng-show="preData.bankCard.length < 20 && preData.bankCard.length > 15"><i class="fa fa-check"></i> 格式正确</span>&ndash;&gt;-->
                                        <!--</div>-->
                                        <!--<div>-->
                                            <!--<span class="text-danger" ng-show="preData.commonAddress.length < 5 && preData.commonAddress.length > 0"><i class="fa fa-ban"></i> 地址至少5个字符</span>-->
                                            <!--&lt;!&ndash;<span class="text-success" ng-show="preData.commonAddress.length > 4"><i class="fa fa-check"></i> 格式正确</span>&ndash;&gt;-->
                                        <!--</div>-->
                                        <!--<div>-->
                                            <!--<span class="text-danger" ng-show="error.errorMessageShow"><i class="fa fa-ban"></i> {{error.errorMessage}}</span>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="input-group">
                                        <label class="control-label">企业名称</label>
                                        <input type="text" ng-model="companyInfo.companyName" placeholder="请输入企业名称"/>
                                    </div>

                                    <div class="input-group" id="cityPicker" data-toggle="distpicker">
                                        <label class="control-label">所在地</label>
                                        <select data-province="请选择省份" id="province" ng-model="companyInfo.province" style="width: 100px"></select>
                                        <label class="control-label">所在地</label>
                                        <select data-city="请选择城市" id="city" ng-model="companyInfo.city" style="width: 100px"></select>
                                    </div>

                                    <div class="input-group">
                                        <label class="control-label">详细地址</label>
                                        <input type="text" ng-model="companyInfo.address" placeholder="请输入详细地址" ng-change="idCheck()"/>
                                    </div>

                                    <div class="input-group">
                                        <label class="control-label">证件类型</label>
                                        <select name="licenseType"
                                                ng-model="companyInfo.licenseType" ng-change="typeSelect()">
                                            <option value="GENERAL" selected="selected">普通营业执照</option>
                                            <option value="MULTIPLE">多证合一营业执照</option>
                                        </select>
                                    </div>

                                    <div class="input-group" ng-if="flag === 'code'">
                                        <label class="control-label">注册号</label>
                                        <input type="text" ng-model="companyInfo.licenseNumber" placeholder="请填写正确的注册号" ng-change="onlyInt(companyInfo.licenseNumber)"/>
                                    </div>

                                    <div class="input-group" ng-if="flag === 'number'">
                                        <label class="control-label">营业执照号码</label>
                                        <input type="text" ng-model="companyInfo.licenseNumber" placeholder="请填写正确的营业执照号码" ng-change="string18(companyInfo.licenseNumber)"/>
                                    </div>

                                    <div class="input-group">
                                        <label class="control-label">上传营业执照</label>
                                        <a href="javascript:">
                                            <button class="file" ng-click="uploadImg()">选择文件</button>
                                            <input type="file" name="" ng-model="file" id="fileImg"
                                                   style="display: none">
                                        </a>
                                    </div>

                                    <div class="input-group">
                                        <label class="control-label"></label>
                                        <div class="col-lg-6">
                                            <div class="imageCrop" style="margin-left: 140px;width: 450px;">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <label class="control-label">选择版本:</label>
                                        <div class="col-lg-6">
                                            <label class="checkbox-inline i-checks">
                                                <input type="checkbox" value="PERSONJUNIOR" name="edition" checked
                                                       disabled><i></i> 基础版
                                            </label>
                                            <label class="checkbox-inline i-checks">
                                                <input type="checkbox" value="PERSONMOBILE" name="edition"><i></i> 通信版
                                            </label>
                                            <label class="checkbox-inline i-checks">
                                                <input type="checkbox" value="PERSONECOMMERCE" name="edition"><i></i>
                                                淘宝版
                                            </label>
                                            <label class="checkbox-inline i-checks">
                                                <input type="checkbox" value="PERSONSENIOR" name="edition"><i></i> 全面版
                                            </label>
                                        </div>
                                    </div>
                                    <div class="input-btn-group" style="margin-top: 30px">
                                        <label class=" control-label"></label>
                                        <button ng-if="companyInfo.companyName.length > 0 && companyInfo.city.length > 0 && companyInfo.address.length > 0 && companyInfo.licenseType.length > 0 && (singleLicense.iClass === 'fa fa-check' || multLicense.iClass === 'fa fa-check') &&  checked" ng-click="personSubmit()" class="layui-btn layui-btn-normal">注册企业</button>
                                        <button ng-if="!(companyInfo.companyName.length > 0 && companyInfo.city.length > 0 && companyInfo.address.length > 0 && companyInfo.licenseType.length > 0 && (singleLicense.iClass === 'fa fa-check' || multLicense.iClass === 'fa fa-check') &&  checked)" ng-click="personSubmitWrong()" class="layui-btn layui-btn-normal">注册企业</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>






<!--<div class="body_wrap list_wrap" ng-controller="approveCtrl">-->
    <!--<div class="content_wrap">-->
        <!--<div>-->
            <!--<form class="form-horizontal">-->
                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label"></label>-->
                    <!--<div class="col-lg-6">-->
                        <!--<span class="text-danger" ng-hide="errorInfo.length === 0">{{errorInfo}}</span>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group col-lg-13">-->
                    <!--<label class="col-lg-3 control-label"><span class="text-danger">*</span>企业名称:</label>-->
                    <!--<div class="col-lg-6">-->
                        <!--<input class="form-control" name="companyName" ng-model="companyInfo.companyName" placeholder="请输入企业名称" type="text">-->
                    <!--</div>-->
                    <!--<div class="col-lg-3" style="margin: 6px 0 0 -23px;">-->
                        <!--<span class="text-danger" ng-show="companyInfo.companyName.length<1"><i class="fa fa-ban"></i> 请输入企业名称</span>-->
                        <!--<span class="text-success" ng-show="companyInfo.companyName.length > 0"><i class="fa fa-check"></i> 格式正确</span>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group" id="cityPicker" data-toggle="distpicker">-->
                    <!--<label class="col-lg-3 control-label"><span class="text-danger">*</span>所在地:</label>-->
                    <!--<div class="col-lg-3">-->
                        <!--<select data-province="请选择省份" class="form-control" id="province" ng-model="companyInfo.province" id="companyProvince"></select>-->
                    <!--</div>-->
                    <!--<div class="col-lg-3">-->
                        <!--<select data-city="请选择城市" class="form-control" id="city" ng-model="companyInfo.city" id="companyCity"></select>-->
                    <!--</div>-->
                    <!--<div class="col-lg-3" style="margin: 6px 0 0 -23px;">-->
                        <!--<span class="text-danger" ng-show="companyInfo.city.length<1"><i class="fa fa-ban"></i> 请选择所在城市</span>-->
                        <!--<span class="text-success" ng-show="companyInfo.city.length > 0"><i class="fa fa-check"></i> 格式正确</span>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label"><span class="text-danger">*</span>详细地址:</label>-->
                    <!--<div class="col-lg-6">-->
                        <!--<input class="form-control" name="companyAddress" ng-model="companyInfo.address" placeholder="请输入详细地址" type="text">-->
                    <!--</div>-->
                    <!--<div class="col-lg-3" style="margin: 6px 0 0 -23px;">-->
                        <!--<span class="text-danger" ng-show="companyInfo.address.length < 1"><i class="fa fa-ban"></i>请输入详细地址</span>-->
                        <!--<span class="text-success" ng-show="companyInfo.address.length > 0"><i class="fa fa-check"></i> 格式正确</span>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label"><span class="text-danger">*</span>证件类型:</label>-->
                    <!--<div class="col-lg-6">-->
                        <!--<select class="form-control" name="licenseType" ng-model="companyInfo.licenseType" ng-change="typeSelect()">-->
                            <!--<option value="GENERAL" selected="selected">普通营业执照</option>-->
                            <!--<option value="MULTIPLE">多证合一营业执照</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-lg-3" style="margin: 6px 0 0 -23px;">-->
                        <!--<span class="text-danger" ng-show="companyInfo.licenseType.length<1"><i class="fa fa-ban"></i> 请选择证件类型</span>-->
                        <!--<span class="text-success" ng-show="companyInfo.licenseType.length > 0"><i class="fa fa-check"></i> 格式正确</span>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group" ng-if="flag === 'code'">-->
                    <!--<label class="col-lg-3 control-label"><span class="text-danger">*</span>注册号:</label>-->
                    <!--<div class="col-lg-6">-->
                         <!--<input class="form-control" ng-model="companyInfo.licenseNumber" placeholder="请填写正确的注册号" type="text" ng-change="onlyInt(companyInfo.licenseNumber)">-->
                    <!--</div>-->
                    <!--<div class="col-lg-3" style="margin: 6px 0 0 -23px;">-->
                        <!--<span class="{{singleLicense.spanClass}}" ng-if="companyInfo.licenseNumber !== ''"><i class="{{singleLicense.iClass}}"></i> {{singleLicense.message}}</span>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group" ng-if="flag === 'number'">-->
                    <!--<label class="col-lg-3 control-label"><span class="text-danger">*</span>营业执照号码:</label>-->
                    <!--<div class="col-lg-6">-->
                        <!--<input class="form-control" ng-model="companyInfo.licenseNumber" placeholder="请填写正确的营业执照号码" type="text" ng-change="string18(companyInfo.licenseNumber)">-->
                    <!--</div>-->
                    <!--<div class="col-lg-3" style="margin: 6px 0 0 -23px;">-->
                        <!--<span class="{{multLicense.spanClass}}" ng-if="companyInfo.licenseNumber !== ''"><i class="{{multLicense.iClass}}"></i> {{multLicense.message}}</span>-->
                        <!--&lt;!&ndash;<span class="text-success" ng-show="companyInfo.licenseNumber.length === 18"><i class="fa fa-check"></i> 格式正确</span>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label"><span class="text-danger">*</span>上传营业执照:</label>-->
                    <!--<div class="col-lg-6">-->
                        <!--<a href="javascript:">-->
                            <!--<button class="file" ng-click="uploadImg()">选择文件</button>-->
                            <!--<input type="file" name="" ng-model="file" id="fileImg" style="display: none">-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-lg-3" style="margin: 6px 0 0 -23px;">-->
                        <!--<span class="text-danger" ng-show="!checked"><i class="fa fa-ban"></i>{{listTip}}</span>-->
                        <!--<span class="text-success" ng-show="checked"><i class="fa fa-check"></i>{{listTip}}</span>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label"></label>-->
                    <!--<div class="col-lg-6">-->
                        <!--<div class="imageCrop">-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label">选择版本:</label>-->
                    <!--<div class="col-lg-6">-->
                        <!--<label class="checkbox-inline i-checks">-->
                            <!--<input type="checkbox" value="PERSONJUNIOR" name="edition" checked disabled ><i></i> 基础版-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline i-checks">-->
                            <!--<input type="checkbox" value="PERSONMOBILE" name="edition"><i></i> 通信版-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline i-checks">-->
                            <!--<input type="checkbox" value="PERSONECOMMERCE" name="edition"><i></i> 淘宝版-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline i-checks">-->
                            <!--<input type="checkbox" value="PERSONSENIOR" name="edition"><i></i> 全面版-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label class="col-lg-3 control-label">微信公众号（收费服务）:</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-lg-4">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="checkbox-inline i-checks">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="radio" value="true" name="openWeChatSubscription"><i></i> 开通&ndash;&gt;-->
                        <!--&lt;!&ndash;</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="checkbox-inline i-checks">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="radio" value="false" name="openWeChatSubscription"><i></i>不开通&ndash;&gt;-->
                        <!--&lt;!&ndash;</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-lg-3" style="margin: 6px 0 0 -23px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span><a href="">为什么要开通微信公众号？</a></span>&ndash;&gt;-->

                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label"></label>-->
                    <!--<div class="col-lg-6">-->
                        <!--&nbsp;-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<div class="col-lg-offset-5 col-lg-7">-->
                       <!--<button ng-if="companyInfo.companyName.length > 0 && companyInfo.city.length > 0 && companyInfo.address.length > 0 && companyInfo.licenseType.length > 0 && (singleLicense.iClass === 'fa fa-check' || multLicense.iClass === 'fa fa-check') &&  checked" ng-click="personSubmit()" class="btn btn-sm btn-success">注册企业</button>-->
                       <!--<button ng-if="!(companyInfo.companyName.length > 0 && companyInfo.city.length > 0 && companyInfo.address.length > 0 && companyInfo.licenseType.length > 0 && (singleLicense.iClass === 'fa fa-check' || multLicense.iClass === 'fa fa-check') &&  checked)" ng-click="personSubmitWrong()" class="btn btn-sm btn-success">注册企业</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
